* {
    margin: none;
    padding: none;

}

.container {
    display: flex;
}

.cell {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    width: 16px;
    height: 16px;
}


/*Why doesn't the button become centered?*/
button > .grid-size {
    display:flex;
    align-content: center;
    justify-content: center;
}